body
{	
	background-image: url('../img/e1bee7.png');
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	margin:auto;
}

main
{	background-image: url('../img/abstract-2740732_1920.png');
	width: 98%;
  margin: 10px auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
	font-family: 'Shrikhand', cursive;
	opacity: 0.8;
}

.charte{
   color: #903E6C;
}

.position{
  margin: 6% 10% 0 0;
}

.entourage{
    background-color: #ffcc80;
 }