body
{	
	background-image: url('../img/e1bee7.png');
  	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
	width: 100%;
	margin:auto;
}

main
{	background-image: url('../img/background-2887350_1280.png');
	width: 98%;
	margin: 10px auto;
  	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
	font-family: 'Shrikhand', cursive;
	opacity: 0.6;
}

.situation{
	padding: 5% 2% 5% 2%;
}

.inputbasic{
	border: double 5px #9933CC ;
	border-radius: 10px;
	transition: all 0.5s ease;
}
.inputbasic:hover {
	background-color:#e040fb;
	color: #ffffff;
}

input{
	padding: 2% 2% 2% 2%;

}

.alignement{
	display: inline-block;
	vertical-align: top;
}

#motAccueil{
	font-size: 24px;
}

#envoi{
	color:#64b5f6;
}

::-webkit-input-placeholder { /* WebKit browsers */ 
color: #64b5f6; 
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #64b5f6; 
opacity: 1; 
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color: #64b5f6; 
opacity: 1; 
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: #64b5f6; 
} 

